<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V19</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>	
	<!--<link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "mine/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "mine/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "mine/css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method="POST" action = "/pap/">
												 {% csrf_token %}
					<span class="login100-form-title p-b-33">
						 PAPER
					</span>

				<!--	<div class="wrap-input100 validate-input" >

					<input class="input100" type="text" name="subject_name" placeholder="Subject Name">	
						
					<select name="subject_name" id="subject_name" required>
                        <option disabled="disabled" selected="selected" value="">Semester</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            


                                        </select>	
										<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" >
						<input class="input100" type="text" name="pass" placeholder="Subject">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>-->
<div class="wrap-input100 validate-input" >

					<!--<input class="input100" type="text" name="subject_name" placeholder="Subject Name">-->	
						
					<select name="subject" id="subject" required>
                        <option disabled="disabled" selected="selected"  value="">Subject Name</option>
{% for subject_object in subject_objects %}
                                {% if subject_object.subject == temp %}
                                         <option value={{ subject_object.id }}>{{ temp }}</option>
                                {% endif %}
                        {% endfor %}
										<!--<option>CSE</option>
                                            <option>IT</option>
                                            <option>EE</option>
                                            <option>ECE</option>
                                            <option>ME</option>
                                            <option>CE</option>
                                            <option>Automobile engg.</option>
                                            <option>Production engg.</option>
                                            <option>Architecture</option>
                                            <option>MBA</option>
                                             <option>MCA</option>
                                            <option>Other</option>

-->	

                                        </select>	
										<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" >
						<input class="input100" type="text" name="year" placeholder="Year">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="wrap-input100 rs1 validate-input" >
					<!--<input class="input100"  name="pass" placeholder="Assignment ">-->	
              <span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					<textarea id = "myTextArea"  rows = "1000"  cols = "62" placeholder="     Paper" name="paper"></textarea>
				 
 </div>
				<!--	<div class="wrap-input100 rs2 validate-input" >
						<input class="input100" type="text" name="pass" placeholder="Assignment ">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					-->
					
<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>
				
					
				</form>
			</div>
		</div>
	</div>
	
<script type="text/javascript"> 
        textarea = document.querySelector("#autoresizing"); 
        textarea.addEventListener('input', autoResize, false); 
      
        function autoResize() { 
            this.style.height = 'auto'; 
            this.style.height = this.scrollHeight + 'px'; 
        } 
        </script>
	
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "mine/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "mine/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "mine/js/main.js" %}"></script>

</body>
</html>